@media only screen and (min-width : 993px) {
	header, main, footer {
		padding-left: 240px;
	};
}

.icon-block {
	padding: 0 15px;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=date]:focus + label, .input-field textarea:focus + label {
	color: #536dfe;
}

.input-field .prefix.active {
	color: #536dfe;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, textarea:focus {
	border-bottom: 1px solid #536dfe;
	-webkit-box-shadow: 0 1px 0 0 #536dfe;
	-moz-box-shadow: 0 1px 0 0 #536dfe;
	box-shadow: 0 1px 0 0 #536dfe;
}

@media only screen and (min-width : 601px) and (max-width : 992px) {
	.modal {
		width: 80%;
	};
}

@media only screen and (max-width : 600px) {
	.modal {
		width: 100%;
	};
}

ul.side-nav.fixed li.logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

#sidenav-overlay {
	z-index: 998;
}

ul.side-nav.fixed li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 57px;
	margin-bottom: 32px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
};

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	};
}

a {
	color: #536dfe;
}

ul.side-nav.full li, ul.side-nav.fixed li {
	transition: background-color 0.3s ease 0s;
}

ul.side-nav.full li:hover, ul.side-nav.fixed li:hover {
	background-color: #edf0fe;
}

ul.side-nav.full li.active, ul.side-nav.fixed li.active {
	background-color: #a9b6fe;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus.materialize-textarea {
	border-bottom: 1px solid #536dfe;
	-webkit-box-shadow: 0 1px 0 0 #536dfe;
	-moz-box-shadow: 0 1px 0 0 #536dfe;
	box-shadow: 0 1px 0 0 #536dfe;
}

.input-field input[type=text]:focus+label, .input-field input[type=password]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=date]:focus+label, .input-field input[type=tel]:focus+label, .input-field input[type=number]:focus+label, .input-field textarea:focus.materialize-textarea+label {
	color: #536dfe;
}

.card .card-action {
	border-top: 1px solid #B6B6B6;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

.card a {
	margin-right: 0;
	text-transform: none;
}

b {
	color: #536dfe;
}

#slide-out, #nav-mobile {
	overflow-y: auto;
}